body
{
    background-color: #F0EAE0;
}
h1
{
    text-align: center;
}
#points
{
    text-align: center;
}
#right
{  
    float: left;
    padding-left: 15%;
    margin-top: 15%;
    font-size: large;
}

#left
{  
    margin-top: 4.7%;
    float: right;
    padding-right: 30%;
    font-size: large;
}
a
{
    text-decoration: none;
    color: black;
}
button
{
    background-color: #D0C1AA;
    border: 1px black;
}
img
{
    width: 10%;
}
