
header{  
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  min-width: 100%;
  position: fixed;
  background-color:white;

}
#img-1
{width: 80px;}
#img-2
{width: 50px;
height: 40px;}

 
 /* Links inside the navbar */
 .navbar a {
   float: left;
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* The dropdown container */
 .dropdown {
   float: left;
   overflow: hidden;
 }
 
 /* Dropdown button */
 .dropdown  {
   font-size: 16px;
   border: none;
   outline: none;
   color: rgb(255, 255, 255);
   padding: 14px 16px;
   background-color: inherit;
   font: inherit; /* Important for vertical align on mobile phones */
   margin: 0; /* Important for vertical align on mobile phones */
 }
 .dropbtn{

   font-size: 16px;
   border: none;
   outline: none;
   color:black;
   background-color: rgb(255, 255, 255);
   padding: 14px 16px;
   margin: 0; 

 }
 
 /* Add a red background color to navbar links on hover */
 .navbar a:hover, .dropdown:hover .dropbtn {
   background-color: rgb(145, 140, 140);
 }
 
 /* Dropdown content (hidden by default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   width: 100%;
   justify-content: space-around;
   left: 0;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Mega Menu header, if needed */
 .dropdown-content .header {
   background: rgb(111, 23, 23);
   padding: 16px;
   color: white;
 }
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
   display: flex;
 }
 
 /* Create three equal columns that floats next to each other */
 .column {
   text-align: center;
   width: 33.3%;
   background-color: rgb(255, 255, 255);
   /* height: 100%; */
   color: #000;
 }
 
 /* Style links inside the columns */
 .column a {
   float: center;
   color: black;
   padding: 16px;
   text-decoration: none;
   display: block;
   text-align: center;
 }
 
 /* Add a background color on hover */
 .column a:hover {
   background-color: #ddd;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }



















.artists-list
{list-style: none;
   position: absolute;
   background-color: white;
   padding: 0;
   height: 100px;
   top: 38px;
   box-shadow: 2px 2px 2px  rgb(91, 57, 13);
   border-radius: 3px;
   display: none;
}
#al1,#al11,#al12
{text-decoration: none;
   list-style: none;
   color: black;
   font-size: 20px;
   line-height:30px;
   display: block;}
.artists-list:hover{background-color: rgb(238, 226, 204);}
#al1:hover
{background-color: black;
color: white;}
#al11:hover
{background-color: black;
color: white;}
#al12:hover
{background-color: black;
color: white;}
#l2:hover > .artists-list
{ transition: 0.5s;
   display: block;}



.about-list
{list-style: none;
   position: absolute;
   background-color: white;
   padding: 0;
   height: 50px;
   top: 38px;
   box-shadow: 2px px 2px  rgb(91, 57, 13);
   border-radius: 3px;
   width: 80px;
   right: 0px;
   display: none;
   

}
#al13
{text-decoration: none;
   list-style: none;
   color: black;
   font-size: 18px;
   margin-top: 10px;
   line-height:30px;
   display: block;;}


   .about-list:hover{background-color: rgb(238, 226, 204);}
   #al13:hover
   {background-color: black;
   color: white;}


   

   #l5:hover > .about-list
   { transition: 0.5s;
   display: block;}

/* #img-1
{transition: 0.8s;}

#shop:hover
{background-color: black;
color: white;
cursor: pointer;}  
#artists:hover
{background-color: black;
color: white;cursor: pointer;} 
#img-1:hover
{box-shadow:5px 5px 5px black;
color: white;cursor: pointer;} 
#shows:hover
{background-color: black;
color: white;cursor: pointer;} 
#about:hover
{background-color: black;
color: white;cursor: pointer;} */