#moving-text-box {

  height: 5%;
  display: block;
  overflow-x: hidden;
}

.wrapper {
  font-family: 'Aboreto', 'cursive';
  font-size: 15px;
   display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background: linear-gradient(rgb(255, 255, 255));
}

.moving-text-box-message {
  font-weight: bold;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  animation: rightToLeft 30s linear infinite forwards ;
}
.wrapper:hover .moving-text-box-message{
animation-play-state: paused;
}
.moving-text-box-message a 
{
  text-decoration: none;
}
@keyframes rightToLeft {
  0%{
   transform: translateX(100%);
  }
 100%{transform:translateX(-300%) ;}
}

img
{
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#image1
{
  margin-bottom: 0.01%;
}
#poster
{
  text-decoration: none;
  color: white;
}
#poster
{
  background-color: #BD9E84;
  border: none;
  position: absolute;
  width: 11.4%;
  height: 10%;
  bottom: 27%;
  left: 37.8%;
}
#image2
{
  position: absolute;
  margin-top: 0.2%;
  width: 100%;
}
.main-page
{display: flex;
position: relative;
height: 400px;
width: 100%;
background-color: beige;
overflow-y: hidden;}

.main-page-column-1
{height: 100%;
width: 50%;
display: flex;
flex-direction: column;}

.column-1-row-1
{
  height: 100%;
  width: 100%;
}
#video-1
{width: 100%;
height: 100%;}

#c1-r1-video
 {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;

 }


.column-1-row-2
{
  height: 50%;
  width: 100%;
  position: relative;
  z-index: 10;
}

#c1r2-mw-img
{width: 100%;
height: 100%;}

#c1r2-mw-img img
{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.main-page-column-2
{
  width: 80%;
}

.main-page-column-2 img
{width: 100%;
height: 100%;
object-fit: cover;}










































