.contentaccesories
{
  width: 25%;
}
.accesoriesimage
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 
 .container img
{
  max-width: 95%;
} 

*{box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#accesories1
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories1:hover
{
  color: lightslategray;
}
#accesories2
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories2:hover
{
  color: lightslategray;
}
#accesories3
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories3:hover
{
  color: lightslategrey;
}
#accesories4
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories4:hover
{
  color: lightslategray;
}
#accesories5
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories5:hover
{
  color: lightslategray;
}
#accesories6
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories6:hover
{
  color: lightslategray;
}
#accesories7
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories7:hover
{
  color: lightslategray;
}
#accesories8
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#accesories8:hover
{
  color: lightslategray;
}
#item1-1
{
  height: 5%;
  width: 5%;
  background-color: black;
  border-radius: 50%;
  display: inline-block; 
}
#item1-2
{
  height: 5%;
  width: 5%;
  background-color: #a5bfc9;
  border-radius: 50%;
  display: inline-block; 
}
#item1-3
{
  height: 5%;
  width: 5%;
  background-color: #bbe1e2;
  border-radius: 50%;
  display: inline-block; 
}
#item2-1
{
  height: 5%;
  width: 5%;
  background-color:#565c86;
  border-radius: 50%;
  display: inline-block; 
}
#item3-1
{
  height: 5%;
  width: 5%;
  background-color:black;
  border-radius: 50%;
  display: inline-block; 
}
#item4-1
{
  height: 5%;
  width: 5%;
  background-color:black;
  border-radius: 50%;
  display: inline-block; 
}
#item5-1
{
  height: 5%;
  width: 5%;
  background-color:black;
  border-radius: 50%;
  display: inline-block; 
}
#item6-1
{
  height: 5%;
  width: 5%;
  background-color:#e2d7c6;
  border-radius: 50%;
  display: inline-block; 
}
#item7-1
{
  height: 5%;
  width: 5%;
  background-color:black;
  border-radius: 50%;
  display: inline-block; 
}
#item8-1
{
  height: 5%;
  width: 5%;
  background-color:black;
  border-radius: 50%;
  display: inline-block; 
}
@media (max-width: 768px) {
  .content{
    width: 50%;
  }
}