.content
{
  width: 25%;
}
.clothesimage
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 
 .container img
{
  max-width: 95%;
} 
#clothes1
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes1:hover
{
  color: lightslategray;
}
#clothes2
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes2:hover
{
  color: lightslategray;
}
#clothes3
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes3:hover
{
  color: lightslategrey;
}
#clothes4
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes4:hover
{
  color: lightslategray;
}
#clothes5
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes5:hover
{
  color: lightslategray;
}
#clothes6
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes6:hover
{
  color: lightslategray;
}
#clothes7
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes7:hover
{
  color: lightslategray;
}
#clothes8
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#clothes8:hover
{
  color: lightslategray;
}
@media (max-width: 768px) {
  .content{
    width: 50%;
  }
}