.image
{
    width: 100%;
}

img,.text
{
    float:left;
}

.text
{
    width:50%;
}

img
{
    width:50%;
}
.back
{
    color: black;
    text-decoration: none;
    padding: 5%;
}
.back:hover
{
    color: cadetblue;
}
.checkout
{
    color: black;
    text-decoration: none;
}
.checkout:hover
{
    color: cornflowerblue;
} 
