/* div
{
    float: left;
}
main
{
    float: right;
  font-size: 16px;
} */
.image
{
    width: 100vw;
}

img,.text
{
    display: inline-block; 
    float:left;
}

.text
{
    width:45vw;
}

img
{
    width:45vw;
}
.back
{
    color: black;
    text-decoration: none;
    padding: 5%;
}
.back:hover
{
    color: cadetblue;
}
/* img
{
    max-width: 50%;
} */
/* .checkout
{
    color: black;
    text-decoration: none;
}
.checkout:hover
{
    color: cornflowerblue;
} */
