.content
{
  width: 25%;
}
.shoesimage
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} 
 .container img
{
  max-width: 95%;
}  
#shoes1
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes1:hover
{
  color: lightslategray;
}
#shoes2
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes2:hover
{
  color: lightslategray;
}
#shoes3
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes3:hover
{
  color: lightslategrey;
}
#shoes4
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes4:hover
{
  color: lightslategray;
}
#shoes5
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes5:hover
{
  color: lightslategray;
}
#shoes6
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes6:hover
{
  color: lightslategray;
}
#shoes7
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes7:hover
{
  color: lightslategray;
}
#shoes8
{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  color: black;
  text-decoration: none;
}
#shoes8:hover
{
  color: lightslategray;
}
@media (max-width: 768px) {
  .content{
    width: 50%;
  }
}
